*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    background-color: rgb(95, 95, 255);
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    border-radius: 0px 0px 15px
    15px;
    color: white;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 999;
}

h2{
    text-align: center;
}

main{
    padding-top: 100px;
    overflow: hidden;
}

.containers{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 100%;
}

#info{
    padding: 30px;
    box-sizing: border-box;
}

#info img{
    margin-bottom: 20px;
    transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation: imgAnimation 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#info img:hover{
    transform: scale(1.05);
    transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes imgAnimation {
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0%);
    }
}

#info > p{
    background: rgb(48, 48, 144);
    color: white;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 15px 15px 15px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.575);
    animation: textAnimation 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    align-self: flex-start;
    transition: all .4s cubic-bezier(0.23, 1, 0.320, 1);
    margin-left: 20px ;
    margin-top: 10px;
}

#info > p:hover, p:checked{
    background-color: white;
    transition: all .4s cubic-bezier(0.23, 1, 0.320, 1);
    color: rgb(79, 79, 224);
    transform: scale(1.02);
    cursor: pointer;
}

@keyframes textAnimation {
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0%);
    }
}

#container-projeto{
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cards{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    height: 400px;
}

.card{
    background: linear-gradient(120deg, white, rgb(209, 209, 209));
    border-radius: 5px;
    box-sizing: border-box;
    width: 40%;
    position: absolute;
    height: 80%;
    padding: 15px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-direction: column;
    transition: all .4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card > button {
    background-color: green;
    color: white;
}

.card  button > a{
    text-decoration: none;
    color: white;
    font-size: 2em;
}

.card  button:hover {
    transform: scale(1.05);
}

.card:hover{
    transition: all .4s cubic-bezier(0.445, 0.05, 0.55, 0.95) 1s;
    transform: translateY(-20%);
}

.card button{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 15px;
    align-self: flex-end;
    background-color: rgb(142, 237, 142);
}

.btn-self{
    padding: 20px;
    display: flex;
    height: 100%;
}

#card-left{
    position: absolute;
    left: 0%;
    top: 0%;
}

#card-right{
    position: absolute;
    right: 0%;
    top: 0%;
    text-align: right;
}

#card-center{
    position: absolute;
    background: linear-gradient(120deg, rgb(255, 255, 137), rgb(255, 233, 65));
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#card-center button{
    background-color: rgb(255, 154, 13);
    color: white;
}

#btn-container{
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
}

.btn{
    background: linear-gradient(120deg, rgb(48, 48, 144), rgb(79, 79, 224));
    padding: 15px;
    box-sizing: border-box;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    font-weight: bold;
    color: white;
    font-weight: bold;
    font-size: 100%;
    transition: all .4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#buttonLeft:hover, #buttonRight:hover{
    background: linear-gradient(120deg, rgb(14, 251, 231), rgb(37, 104, 249));
    color: white;
    transition: all .4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.btn-content{
    height: 100%;
    display: flex;
    align-items: end;
}

.item-flex{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.sessao{
    background: linear-gradient(120deg, white, rgb(209, 209, 209));
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-sizing: border-box;
    width: 200px;
    height: 300px;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.485);
    overflow-y: auto;
    text-align: justify;
}

.sessao > ul{
    list-style-position: inside;

}

.sessao > ul> li{
    background: linear-gradient(120deg, rgb(37, 104, 249), rgb(22, 71, 177));
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 5px;
    box-sizing: border-box;
    color: white;
}

.Ed{
    background-color: yellow;
    color: black;
    padding: 5px;
    border-radius: 10px;
}

@media screen and (min-width: 600px) {
    #info{
        display: flex;
        flex-direction: row;
    }
}